<?xml	version="1.0"	encoding="UTF-8"	?>	
    <widget	xmlns =	"http://www.w3.org/ns/widgets"	
            xmlns:gap = "http://phonegap.com/ns/1.0"	
            id =	"com.george.pg3"	
            versionCode	=	"11"		
            version	=	"1.0.0"	>	
				<!--	versionCode	is	opIonal	and	Android	only	-->	
				<name>LetsGo!</name>	
				<description>	
								Event hosting application	
				</description>	
				<author	href="http://www.ashesi.edu.gh"	email="george.assan93@gmail.com">	
								George Assan	
				</author>	
	
      <gap:plugin name="cordova-plugin-whitelist" source="npm" />
      <allow-navigation href="data:*" />
      <allow-intent href="*" />
      <access origin="*" />
      
</widget>	